@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* 
thin 100
extra light 100
light 300
regular 400
medium 500
*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body, button, input {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #131324;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #6936f5;
  color:white;
  padding:1rem;
  border-radius: 0.4rem;
  border:none;
  cursor:pointer;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #8965eb;
  color:white;
  padding:1rem;
  border-radius: 0.4rem;
  cursor:pointer;
}